<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DecisionMaker</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <h1>DecisionMaker</h1>


  <%= yield %>

</body>
