<form action="/questions" method="post">

  <label for="">Write a question</label>
  <textarea name="content" rows="4" cols="50"></textarea>

  <label for="">Option 1</label>
  <textarea name="option1" rows="1" cols="40"></textarea>
  <label for="">Option 2</label>
  <textarea name="option2" rows="1" cols="40"></textarea>
  <label for="">Option 3</label>
  <textarea name="option3" rows="1" cols="40"></textarea>
  <label for="">Option 4</label>
  <textarea name="option4" rows="1" cols="40"></textarea>

  <button>Submit</button>

</form>
