<div class='question_display'>
  <h3>Log in</h3>
  <p>
    In order to vote on a question, please login to your account. If you don't have one yet create one <a href="/users/new">here</a>.
  </p>
  <form  class="" action="/session_vote" method="post">
    <label for="">username</label>
    <input type="text" name="username" value="" placeholder="username">

    <label for="">password</label>
    <input type="password" name="password" value="" placeholder="password">

    <button>log in</button>
  </form>

</div>
