<form class="" action="/session" method="post">
  <label for="">username</label>
  <input type="text" name="username" value="" placeholder="username">

  <label for="">password</label>
  <input type="password" name="password" value="" placeholder="password">

  <button>log in</button>
</form>
