<div class="question_display">
  <h3>Create New Account</h3>

  <p>
    By creating a new account you will be able to create new questions and vote on existing questons. Your personal information is kept safely in an ultra secure database.
  </p>
  <form class='' action="/users" method="post">
    <label for="">username</label>
    <input type="text" name="username" value="">

    <label for="">email</label>
    <input type="text" name="email" value="">

    <label for="">password</label>
    <input type="password" name="password" value="">

    <button>Join</button>
  </form>
</div>
