
<div class='question_display'>
  <h3>All Post from <%= @user.username %></h3>

  <% @questions.each do |question| %>
   <p>&clubs; <a href="/questions/<%= question.id %>"><%= question.content %></a></p>
  <% end %>
</div>
